.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  overflow-x: clip;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
